APP_ENV=dev
DATABASE_PATH=gastos.db
HOST=0.0.0.0
PORT=3002
RELOAD=true
LOG_LEVEL=info
SQL_ECHO=false
CORS_ORIGINS=*
PERSON_REPO_BACKEND=jpa
MONEY_SOURCE_REPO_BACKEND=jpa
DEFAULT_TIMEZONE=America/Bogota
